<!DOCTYPE html ng-app="myApp">
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

    <link href="./bower_components/angular-material/angular-material.css" rel="stylesheet"/>
    <link href="./bootstrap.css" rel="stylesheet"/>
    <link href="./bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link href="./bower_components/material-design-icons/www/css/material.css" rel="stylesheet"/>-->

    <script src="./bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
    <script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript"></script>
    <script src="./bower_components/angular-material/angular-material.js" type="text/javascript"></script>
    <script src="./bower_components/angular-route/angular-route.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart', 'geochart']});

        // Set a callback to run when the Google Visualization API is loaded.
//        google.charts.setOnLoadCallback(drawChart);
//        google.charts.setOnLoadCallback(drawMarkersMap);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Mushrooms', 3],
                ['Onions', 1],
                ['Olives', 1],
                ['Zucchini', 1],
                ['Pepperoni', 2]
            ]);

            // Set chart options
            var options = {'title':'How Much Pizza I Ate Last Night',
                'width':400,
                'height':300};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

            function selectHandler() {
                var selectedItem = chart.getSelection()[0];
                if (selectedItem) {
                    var topping = data.getValue(selectedItem.row, 0);
                    console.log('The user selected ' + topping);
                }
            }

            google.visualization.events.addListener(chart, 'select', selectHandler);
            chart.draw(data, options);
        }

        function drawMarkersMap() {
            var data = google.visualization.arrayToDataTable([
                ['Province', 'Shipments'],
                ['Baden-Württemberg', 12],
                ['Bayern', 85],
//                ['Brandenburg', 15],
                ['DE-BB', 15],
                ['Nordrhein-Westfalen', 123],
                ['Niedersachsen', 88],
                ['Thüringen', 24],
                ['Hessen', 0],
                ['Mecklenburg-Vorpommern', 0],
                ['Rheinland-Pfalz', 0],
                ['Saarland', 10],
                ['Sachsen', 0],
                ['Sachsen-Anhalt', 0],
                ['Schleswig-Holstein', 0],

            ]);

            var options = {
                region: '150',
                magnifyingGlass: {enable: true, zoomFactor: 5.5},
//                resolution: 'provinces',
                displayMode: 'regions',
                datalessRegionColor: '#fefdfd',
                defaultColor: '#f1f1f1',
                colorAxis: {colors: ['green', 'blue']},
                'width':800,
                'height':600
            };

            var chart = new google.visualization.GeoChart(document.getElementById('map_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body layout="column">

<!--<script src="./app.js"></script>-->
<!--<script type="text/javascript">

</script>-->

<script src="./directives/HeaderDirective.js"></script>
<script src="./controllers/HeaderController.js"></script>
<script src="./directives/SearchDirective.js"></script>
<script src="./controllers/SearchController.js"></script>

<script src="./models/Search.js"></script>



<header-directive></header-directive>
<!-- Container #2 -->
<div flex layout="row">
    <!-- Container #3 -->
    <search-directive></search-directive>
    <!-- Container #4 -->
    <!--<md-content flex id="content" class="md-padding" layout="row">
        <div ng-cloak>
            <md-input-container>
                <label>Selected Report</label>
                <md-select ng-model="selectedReports">
                    <md-option ng-repeat="report in reports" value="{{report.id}}" ng-disabled="$index === 1">
                        {{report.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                &lt;!&ndash;<label>Parties</label>&ndash;&gt;
                <md-select ng-model="selectedParties" placeholder="Parties" multiple>
                    <md-optgroup label="BUPA 1">
                        <md-option ng-value="party.partyName"
                                   ng-repeat="party in parties | filter: {bupa: 'Duni' }">{{party.partyName}}
                        </md-option>
                    </md-optgroup>
                    <md-optgroup label="BUPA 2">
                        <md-option ng-value="party.partyName"
                                   ng-repeat="party in parties | filter: {bupa: 'Mogule' }">{{party.partyName}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
        <md-divider></md-divider>

        &lt;!&ndash;Div that will hold the pie chart&ndash;&gt;
        <div id="chart_div"></div>
        <div id="map_div"></div>

    </md-content>-->
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
</body>
</html>
