<header-directive />
<!-- Container #2 -->
<div flex layout="row">
    <!-- Container #3 -->
    <search-directive />
    <!-- Container #4 -->
    <!--<md-content flex id="content" class="md-padding" layout="row">
        <div ng-cloak>
            <md-input-container>
                <label>Selected Report</label>
                <md-select ng-model="selectedReports">
                    <md-option ng-repeat="report in reports" value="{{report.id}}" ng-disabled="$index === 1">
                        {{report.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                &lt;!&ndash;<label>Parties</label>&ndash;&gt;
                <md-select ng-model="selectedParties" placeholder="Parties" multiple>
                    <md-optgroup label="BUPA 1">
                        <md-option ng-value="party.partyName"
                                   ng-repeat="party in parties | filter: {bupa: 'Duni' }">{{party.partyName}}
                        </md-option>
                    </md-optgroup>
                    <md-optgroup label="BUPA 2">
                        <md-option ng-value="party.partyName"
                                   ng-repeat="party in parties | filter: {bupa: 'Mogule' }">{{party.partyName}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
        <md-divider></md-divider>

        &lt;!&ndash;Div that will hold the pie chart&ndash;&gt;
        <div id="chart_div"></div>
        <div id="map_div"></div>

    </md-content>-->
</div>