<md-sidenav md-is-open="true" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
            style="width: 500px;max-width: 500px;" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="menu" ng-click="sc.toggleSearch()">
                <i class="material-icons">search</i>
            </md-button>
            <h1>Search</h1>
        </div>
    </md-toolbar>
    <md-content>
        <form name="search-form" class="md-padding" md-whiteframe="2">
            <!--<div layout="column">-->
            <!--<md-input-container>-->
            <div class="md-padding" layout="column">
                <!--<div layout="row">
                    <md-datepicker ng-model="mc.from" md-placeholder="From date"></md-datepicker>
                    <md-datepicker ng-model="mc.to" md-placeholder="To date"></md-datepicker>
                </div>
                <md-input-container>
                    <label>Parties</label>
                    <md-select ng-model="selectedParties" placeholder="Parties" multiple>
                        <md-optgroup label="BUPA 1">
                            <md-option ng-value="party.partyName"
                                       ng-repeat="party in parties | filter: {bupa: 'Duni' }">{{party.partyName}}
                            </md-option>
                        </md-optgroup>
                        <md-optgroup label="BUPA 2">
                            <md-option ng-value="party.partyName"
                                       ng-repeat="party in parties | filter: {bupa: 'Mogule' }">{{party.partyName}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>-->

                <!-- SHIPMENT -->
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="expand_less" ng-click="sc.collapseExpand()">
                            <i class="material-icons">{{sc._expanded ? 'expand_less' : 'expand_more'}}</i>
                        </md-button>
                        <span>Shipment Options</span>
                        <span flex></span>

                        <md-button class="md-icon-button" aria-label="expand_less" ng-click="">
                            <i class="material-icons">help_outline</i>
                        </md-button>

                    </div>
                </md-toolbar>
                <div uib-collapse="sc._expanded" md-whiteframe="2">
                    <span>Here can be found the contents...</span><br/>
                    <span>Here can be found the contents...</span><br/>
                    <span>Here can be found the contents...</span><br/>
                </div>
                <md-divider></md-divider>

                <!-- DELIVERY TIME -->
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="expand_less">
                            <i class="material-icons">expand_less</i>
                        </md-button>
                        <span>Delivery Time Options</span>
                        <span flex></span>

                        <md-button class="md-icon-button" aria-label="help outline" ng-click="">
                            <i class="material-icons">help_outline</i>
                        </md-button>

                    </div>
                </md-toolbar>
                <md-divider></md-divider>

                <!--STATUS -->
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="expand_less">
                            <i class="material-icons">expand_less</i>
                        </md-button>
                        <span>Status Options</span>
                        <span flex></span>

                        <md-button class="md-icon-button" aria-label="help outline" ng-click="">
                            <i class="material-icons">help_outline</i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-divider></md-divider>

                <!-- LOCATION -->
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="expand_less">
                            <i class="material-icons">expand_less</i>
                        </md-button>
                        <span>Location Options</span>
                        <span flex></span>

                        <md-button class="md-icon-button" aria-label="help outline" ng-click="">
                            <i class="material-icons">help_outline</i>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-button class="md-raised md-primary" ng-click="sc.search()">Show Report</md-button>
            </div>
        </form>
    </md-content>
</md-sidenav>